name: "Publish new realese on NPM"

on:
  release:
    types: [created]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v2
            - name: node
              uses: actions/setup-node@v2
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org
            - name: publish
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NODE_TOKEN}}
